#srq_head{
    padding-top: 20px;
    padding-left: 20px;
    margin: auto;
}


#map_mg, #head_mamag, #p_mamag, #shelf_map, #shelf_head, #shelf_p, #walg_head, #wf_head, #pub_head, #lido_head, #er_head, #golf_head, #walg_p, #wf_p, #pub_p, #lido_p, #er_p, #golf_p, #walg_map, #wf_map, #pub_map, #lido_map, #er_map, #golf_map, #md_head, #md_p, #md_map, #cub_head, #cub_p, #cub_map, #za_head, #za_p, #za_map{
    margin: auto;
    text-align: center;
}
#map_mg, #shelf_map, #walg_map, #wf_map, #pub_map, #lido_map, #er_map, #golf_map, #md_map, #cub_map, #za_map{
    display:block;
    margin:auto;
}

.col-sm-6{
    padding: 3%;
}

#resturants_head, #grocery_head, #fun_head, #transport_head{
    display: block;
    padding: 3%;
    text-align: center;
    
}

.transportation{
    padding: 3%;
}

/*
.resturants, .grocery, .fun, .transport{
    padding: 5%;
    display: block;
}

#resturants_head, #grocery_head, #fun_head, #transport_head{
    display: block;
    padding: 20px;
    text-align: center;
    
}


.mamag, .shelf, .walg, .wf, .pub, .lido, .er, .golf{
    padding: 20px;
    float: left;
    width: 90%;
}
.mamag_text, .walg_text, .wf_text, .pub_text, .lido_text, .er_text, .golf_text{
    float: left;
    width: 50%;
    text-align: center;
}

#mamag_head,  #walg_head, #wf_head, #pub_head, #lido_head, #er_head, #golf_head{
    display: block;
    padding-top: 15px;
}

#mamag_p,  #walg_p, #wf_p, #pub_p, #lido_p, #er_p, #golf_p{
    display: block;
}


#mamag_map,  #walg_map, #wf_map, #pub_map, #lido_map, #er_map, #golf_map{
    float: right;
    padding:15px;
} */