/*residenceHallsStyles.css*/

*{
	margin: 0;
	padding: 0;
}

header{
	background-color: #23488D;
	display: flex;
	align-items: center;
	padding: .5%;
	position: sticky;
	top: 0;
	z-index: 2;
}

header a, header p{
	font-size:  20px;
	text-align: center;
	text-decoration: none;
	color: white;
}

#line1, #line2, #line3{
	width: 800px;
	margin-left: 150px;
	margin-right: 150px;
	border: 2px solid #B03474;
}

h2{
	color: #23488D;
}

div.PeiYoutube, div.DortYoutube, div.LetterDormsYoutube, div.ZDormYoutube, div.BDormYoutube {
	padding-left: 150px;
}

div.PeiMap,  div.DortMap , div.LetterDormsMap, div.ZDormMap, div.BDormMap  {
	margin-top: 30px;
	padding-left: 150px;
}	