<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">NuPath</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/messages">Messages</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbardrop" data-toggle="dropdown">
            Information
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="/residence_halls">Residence Halls</a></li>
            <li><a class="dropdown-item" href="/dining">On-campus Dining</a></li>
            <li><a class="dropdown-item" href="/supplies">Supplies</a></li>
            <li><a class="dropdown-item" href="/events">Campus Events</a></li>
            <li><a class="dropdown-item" href="/sarasota">Sarasota</a></li>
          </ul>
  
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/leaderboard">Leaderboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>    
        </ul>
      </div>  
  </nav>
  <br>

  <h2 class="subheadLightBlue">Campus Events</h2>

  <br>
  <div class = "calendarC">
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%234285F4&ctz=America%2FNew_York&src=M2M4YTE3M2FiNmVjMzlmYTJhMzZkMWE3ODUyMjY3ZTVjMzhjYWZiZGRhNWJmY2QxMGNlZjA1M2E2NDllM2E0ZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%233F51B5" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no" id="calC"></iframe>
</div>

<br>

  <h2 class="subheadLightBlue">Clubs and Organizations on Campus</h2>

  <br>

  <p>Check out some of NCF"s clubs and organizations!</p>
  <ul>
    <li>Acapellago</li>
    <li>Anarchy DeathSticks</li>
    <li>Art Club</li>
    <li>Asian American and Pacific Islander Student Alliance</li>
    <li>Association for Computing Machinery NCF Student Chapter</li>
    <li>Astronomy Club</li>
    <li>Bike Club</li>
    <li>Black Student Union</li>
    <li>Bull Sharks Dive Club</li>
    <li>And many more clubs and organizations!</li>
  </ul>

  <br>
  <a href="https://novoconnect.ncf.edu/organizations">Check out a full list of our clubs and organizations on NovoConnect!</a>

  <br>
  <br>
  <br>
  <!--Spacing-->