<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">NuPath</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/messages">Messages</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Information
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="/residence_halls">Residence Halls</a></li>
            <li><a class="dropdown-item" href="https://www.ncf.edu/life-at-new/where-to-eat/">On-campus Dining</a></li>
            <li><a class="dropdown-item" href="/supplies">Supplies</a></li>
            <li><a class="dropdown-item" href="/events">Campus Events</a></li>
            <li><a class="dropdown-item" href="/sarasota">Sarasota</a></li>
            <li><a class = "dropdown-item" href="/scheduler">Scheduler</a></li>
            <li><a class= "dropdown-item" href="/orientation">Orientation</a></li>
          </ul>
 
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>    
      </ul>
    </div>  
</nav>


<div style=" margin-top: 3%; margin-left: 15%; margin-right: 15%; display:inline-block; width: 100%;">
  <div style="width: 30%; height: auto; float: left; display:inline-block;">
      <h1 class = "subheadLightBlue"> Recent Posts</h1>
  </div>
  <div style="width: 70%; height: auto; display:inline-block;">
      <div>
          <img class="create" id="createPostButton" src="images/pictures/plusPost.png" alt="New Post icon" style="width: 10%; height: 10%; display: block;
          margin-left: auto;
          margin-right: auto;">
        </a>
      </div>
  </div> 
</div>

<div id="postData" data-post="<%=postdata%>">
</div>


<div class="posts-wrapper" style="margin: 30px 150px;">
  <!-- This will get's the posts from new_post.ejs-->
</div>


<script> // Template post
  $(document).ready(() => {console.log($("#postData").data('post'));
  $("#createPostButton").on("click", () => {
    window.location.href = "/new_post";
  }
  );
  // sort the posts by date
  const post = $("#postData").data('post').sort((a, b) => {
    return new Date(b.createdAt) - new Date(a.createdAt);
  });
  for(let i = 0; i < post.length; i++){
    $(".posts-wrapper").append(`
  <div style="border: 6px solid #487CB4; padding: 10px; margin-top: 1%;">
      <div>
          <h3> <b>${post[i].userId.firstName + " " + post[i].userId.lastName } </b> </h3>
          <h6> ${new Date(post[i].createdAt).toLocaleString('en-US') }</h6>
      </div>
      <p>  
        ${post[i].body}
      </p>
  </div>
  `);
  }});
</script>
</body>

<footer style="margin-top: 3%;">
<p style="text-align:center;"> &copy; 2023 copyright Fantastic-Four</p>
</div>
<br>
<br>
</footer>
<script type="text/javascript" src="js/hover.js"></script>

