<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">NuPath</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/messages">Messages</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Information
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="/residence_halls">Residence Halls</a></li>
            <li><a class="dropdown-item" href="/dining">On-campus Dining</a></li>
            <li><a class="dropdown-item" href="/supplies">Supplies</a></li>
            <li><a class="dropdown-item" href="/events">Campus Events</a></li>
            <li><a class="dropdown-item" href="/sarasota">Sarasota</a></li>
          </ul>
  
        </li>
          <li class="nav-item">
            <a class="nav-link active" href="/leaderboard">Leaderboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>    
        </ul>
      </div>  
  </nav>

  <body>

    <div class="container">
      <br>
      <h2 class="subheadLightBlue">NuPath Leaderboard</h2>
      <p>The NuPath Leaderboard keeps track of how much each student has engaged with the website (and prepared for NovoLand!) Complete all the tasks to become a NuPath Task Master and unlock a special surprise.  </p>
      <p><strong>Don't forget to complete the following onboarding tasks: </strong></p>
      <ul>
        <li>Visit the dorm information page to learn about different dorm options on campus </li>
        <li>Visit the campus events and facilities page to learn about upcoming events and campus facilities</li>
        <li>Visit the faculty page to learn about the staff and faculty at NCF</li>
        <li>Complete your profile</li>
      </ul>
  
      <br>

      <h2 class="subheadLightBlue">Task Masters</h2>
      <div class="row">
        <div class="col-sm-6" style="border: 3px solid lightblue;">
          <!--Create a leaderboard box-->
          <p id="leaderName" href="#">Example person</p> <!--Place to add a name-->
          <p id="completionRate">Total Task Completion: </p> <!--Place to add the total completion rate of tasks completed-->
          <p id="finsihedTasks">Tasks Finished: </p> <!--Place to add the finished tasks-->
          <!--display Icons for the differnt tasks?-->
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star" ></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="col-sm-6" style="border: 3px solid lightblue;">
                    <!--Create a leaderboard box-->
                    <p id="leaderName" href="#">Example person</p> <!--Place to add a name-->
                    <p id="completionRate">Total Task Completion: </p> <!--Place to add the total completion rate of tasks completed-->
                    <p id="finsihedTasks">Tasks Finished: </p> <!--Place to add the finished tasks-->
                    <!--display Icons for the differnt tasks?-->
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star"></i>

        </div>
      </div>
      <br>
      <br>
      <h2 class="subheadLightBlue">Leaderboard</h2>
      <div class="row">
        <div class="col-sm-6" style="border: 3px solid lightblue;">
          <!--Create a leaderboard box-->
          <p id="leaderName" href="#">Example person</p> <!--Place to add a name-->
          <p id="completionRate">Total Task Completion: </p> <!--Place to add the total completion rate of tasks completed-->
          <p id="finsihedTasks">Tasks Finished: </p> <!--Place to add the finished tasks-->
          <!--display Icons for the differnt tasks?-->
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star" ></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="col-sm-6" style="border: 3px solid lightblue;">
                    <!--Create a leaderboard box-->
                    <p id="leaderName" href="#">Example person</p> <!--Place to add a name-->
                    <p id="completionRate">Total Task Completion: </p> <!--Place to add the total completion rate of tasks completed-->
                    <p id="finsihedTasks">Tasks Finished: </p> <!--Place to add the finished tasks-->
                    <!--display Icons for the differnt tasks?-->
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star"></i>

        </div>
      </div>
    </div>
  </body>