<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">NuPath</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/messages">Messages</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Information
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="/residence_halls">Residence Halls</a></li>
            <li><a class="dropdown-item" href="/dining">On-campus Dining</a></li>
            <li><a class="dropdown-item" href="/supplies">Supplies</a></li>
            <li><a class="dropdown-item" href="/events">Campus Events</a></li>
            <li><a class="dropdown-item" href="/sarasota">Sarasota</a></li>
          </ul>
  
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/leaderboard">Leaderboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>    
        </ul>
      </div>  

  </nav>

  <div style=" margin-top: 3%; margin-left: 150px; margin-right: 150px; display:inline-block; width: 100%;">
    <div style="width: 30%; height: auto; float: left; display:inline-block;">
        <h1> Messages </h1>
    </div>
    <div style="width: 70%; height: auto; display:inline-block;">
        <div>
            <img class="create" src="images/pictures/plusMessage.png" alt="New Message icon" style="width: 13%; height: 13%; display: block;
            margin-left: auto;
            margin-right: auto;">
        </div>
    </div> 
</div>

<div class="posts-wrapper" style="margin: 30px 150px;">
    <div style="border: 6px solid #487CB4; padding: 10px; margin-top: 1%;">
        <div> <!-- (PLACE HOLDER) This needs to be fetched from the database-->
            <h3> <b> Person 1</b> </h3>
            <h6> MM/DD/YYYY</h6>
        </div>
        <p >  <!-- (PLACE HOLDER) This needs to be fetched from the database-->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div style="border: 6px solid #487CB4; padding: 10px; margin-top: 1%;">
        <div> <!-- (PLACE HOLDER) This needs to be fetched from the database-->
            <h3> <b> Person 2</b> </h3>
            <h6> MM/DD/YYYY</h6>
        </div>
        <img src="images/pictures/catPic.jpg" alt="Girl in a jacket" width="250" height="300">
    </div>

    <div style="border: 6px solid #487CB4; padding: 10px; margin-top: 1%;">
        <div> <!-- (PLACE HOLDER) This needs to be fetched from the database-->
            <h3> <b> Person 3</b> </h3>
            <h6> MM/DD/YYYY</h6>
        </div>
        
        <p > <!-- (PLACE HOLDER) This needs to be fetched from the database-->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
            culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
            culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div style="border: 6px solid #487CB4; padding: 10px; margin-top: 1%;">
        <div> <!-- (PLACE HOLDER) This needs to be fetched from the database-->
            <h3> <b> Person 4</b> </h3>
            <h6> MM/DD/YYYY</h6>
        </div>
        <p > <!-- (PLACE HOLDER) This needs to be fetched from the database-->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>
</body>

<footer style="margin-top: 3%;">
<p style="text-align:center;"> &copy; 2023 copyright Fantastic-Four</p>
</div>
<br>
<br>
</footer>
<script type="text/javascript" src="js/hover.js"></script>
