<!--Add info about OL's to all the drop downs.   Link this in the homepage controller and routes file-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">NuPath</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbardrop" data-toggle="dropdown">
              Information
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item " href="/residence_halls">Residence Halls</a></li>
              <li><a class="dropdown-item" href="https://www.ncf.edu/life-at-new/where-to-eat/">On-campus Dining</a></li>
              <li><a class="dropdown-item" href="/supplies">Supplies</a></li>
              <li><a class="dropdown-item" href="/events">Campus Events</a></li>
              <li><a class="dropdown-item" href="/sarasota">Sarasota</a></li>
              <li><a class = "dropdown-item" href="/scheduler">Scheduler</a></li>
              <li><a class= "dropdown-item" href="/orientation">Orientation</a></li>
            </ul>
   
          </li>
  
  
          <li class="nav-item">
            <a class="nav-link" href="/leaderboard">Leaderboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>    
        </ul>
      </div>  
  </nav>

  <h1>Orientation</h1>

  <br>
  
  <img src="images/pictures/orientationLeader.png" style="  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;">

    <br>
    <br>
  <p>Hello incoming Novos! One of the first experiences at NCF each Fall for incoming students is Orientation. Orientation. Orientation introduces you to New College and your peers. Learn more about orienation 
    <a href="https://www.ncf.edu/admissions/admitted-students/orientation/">
        here!
    </a></p>
<br>
<br>

  <!--Space for information about orientation leaders-->
  <hr style="border: 1px solid black">
  <h2>Meet our Orientation Leaders!</h2>
  

  
    <div class = "container-fluid">

        <div class = "row">
          <div class = "col-sm-6">
              <h5 id="head_mamag">Example OL </h5>
              <p> 
                <br><b>Group Name: </b> Awesome Octopi 
                <br><b>AOC: </b>  Sociology 
                <br><b>Why I chose NCF: </b>  The bayfront! I love the views of campus.
                <br><b>Favorite NCF Memory: </b>  Orientation! I met so many great people. 
                <br><b>Email: </b> exampleOL@ncf.edu
              </p>
          </div>
          <div class = "col-sm-6">
            <img src="images/pictures/orientation1.png" style="
            max-width: 50%; height: auto">
          </div>
        </div>
        <div class = "row">
            <div class = "col-sm-6">
                <h5 id="head_mamag">Example OL </h5>
                <p> 
                  <br><b>Group Name: </b> Awesome Octopi 
                  <br><b>AOC: </b>  Sociology 
                  <br><b>Why I chose NCF: </b>  The bayfront! I love the views of campus.
                  <br><b>Favorite NCF Memory: </b>  Orientation! I met so many great people. 
                  <br><b>Email: </b> exampleOL@ncf.edu
                </p>
            </div>
            <div class = "col-sm-6">
              <img src="images/pictures/orientation1.png" style="
              max-width: 50%; height: auto">
            </div>
          </div>
          <div class = "row">
            <div class = "col-sm-6">
                <h5 id="head_mamag">Example OL </h5>
                <p> 
                  <br><b>Group Name: </b> Awesome Octopi 
                  <br><b>AOC: </b>  Sociology 
                  <br><b>Why I chose NCF: </b>  The bayfront! I love the views of campus.
                  <br><b>Favorite NCF Memory: </b>  Orientation! I met so many great people. 
                  <br><b>Email: </b> exampleOL@ncf.edu
                </p>
            </div>
            <div class = "col-sm-6">
              <img src="images/pictures/orientation1.png" style="
              max-width: 50%; height: auto">
            </div>
          </div>
          <div class = "row">
            <div class = "col-sm-6">
                <h5 id="head_mamag">Example OL </h5>
                <p> 
                  <br><b>Group Name: </b> Awesome Octopi 
                  <br><b>AOC: </b>  Sociology 
                  <br><b>Why I chose NCF: </b>  The bayfront! I love the views of campus.
                  <br><b>Favorite NCF Memory: </b>  Orientation! I met so many great people. 
                  <br><b>Email: </b> exampleOL@ncf.edu
                </p>
            </div>
            <div class = "col-sm-6">
              <img src="images/pictures/orientation1.png" style="
              max-width: 50%; height: auto">
            </div>
          </div>
    </div>