<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">NuPath</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/messages">Messages</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbardrop" data-toggle="dropdown">
            Information
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="/residence_halls">Residence Halls</a></li>
            <li><a class="dropdown-item" href="/dining">On-campus Dining</a></li>
            <li><a class="dropdown-item" href="/supplies">Supplies</a></li>
            <li><a class="dropdown-item" href="/events">Campus Events</a></li>
            <li><a class="dropdown-item" href="/sarasota">Sarasota</a></li>
          </ul>
  
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/leaderboard">Leaderboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>    
        </ul>
      </div>  
  </nav>

  <h2 id="srq_head">Getting to Know Sarasota</h2>

  <body>
    <div class = "resturants">

      <h4 id="resturants_head">Resturants</h4>

      <div class = "mamag">
        <div class = "mamag_text">
            <h5 id="mamag_head">Mama G's Coffee and Bakery </h5>
            <p id="mamag_p"> 
              <br>8431 N Tamiami Trail #2015, 
              <br>Sarasota, FL 34243
              <br>Phone Number: (941) 355 9236
              <br><a href="https://www.mamagscoffee.com">Website</a> 
            </p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.5221816540284!2d-82.561639184877!3d27.390634145945544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd65ddb5171%3A0x5d94b455b9ebc881!2sMama%20G&#39;s%20Coffee%20Bakery!5e0!3m2!1sen!2sus!4v1678301191378!5m2!1sen!2sus" width="250" height="250" style="border:10;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="mamag_map"></iframe>
      </div>

      <div class = "shelf">
        <div class = "shelf_text">
            <h5 id="shelf_head">Shelf Indulgence Used Book Cafe </h5>
            <p id="shelf_p"> 
              <br>2805 N Tamiami Trail, 
              <br>Sarasota, FL 34234
              <br>Phone Number: (941) 260 5326
              <br><a href="http://www.shelfindulgenceusedbooks.com/">Website</a> 
            </p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3543.4745385735255!2d-82.5518780848775!3d27.360891647238518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33ff041d60ca9%3A0x73c409205d93722d!2sShelf%20Indulgence%20Used%20Book%20Cafe!5e0!3m2!1sen!2sus!4v1678301432033!5m2!1sen!2sus" width="250" height="250" style="border:10;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="shelf_map"></iframe>
      </div>

    </div>
    <div class = "grocery">

      <h4 id = "grocery_head">Grocery</h4>

      <div class = "walg">
        <div class = "walg_text">
            <h5 id="walg_head">Walmart Neighborhood Market </h5>
            <p id="walg_p"> 
              <br>3500 N Tamiami Trail, 
              <br>Sarasota, FL 34234
              <br>Phone Number: (941) 444 8410
              <br><a href="https://www.walmart.com/store/3066-sarasota-fl">Website</a> 
            </p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56693.37196627975!2d-82.56318091791437!3d27.365227994087007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fef66c229af%3A0xdd83026728e5b0f2!2sWalmart%20Neighborhood%20Market!5e0!3m2!1sen!2sus!4v1678303423967!5m2!1sen!2sus" width="250" height="250" style="border:10;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="walg_map"></iframe>
      </div>
      <div class = "wf">
        <div class = "wf_text">
            <h5 id="wf_head">Whole Foods Market </h5>
            <p id="wf_p"> 
              <br>1451 1st St, 
              <br>Sarasota, FL 34236
              <br>Phone Number: (941) 316 4700
              <br><a href="https://www.wholefoodsmarket.com/stores/sarasota">Website</a> 
            </p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56693.376441160115!2d-82.56318094576076!3d27.365219256460644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c34012967674a7%3A0x3f04836c46b3b28!2sWhole%20Foods%20Market!5e0!3m2!1sen!2sus!4v1678314494886!5m2!1sen!2sus" width="250" height="250" style="border:10;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="wf_map"></iframe>
      </div>

      <div class = "pub">
        <div class = "pub_text">
            <h5 id="pub_head">Publix Super Market </h5>
            <p id="pub_p"> 
              <br>1044 N Tamiami Trail, 
              <br>Sarasota, FL 34236
              <br>Phone Number: (941) 366 3270
              <br><a href="https://www.publix.com/?setstorenumber=1023&utm_medium=maps&utm_source=extendednetwork&utm_content=psm_website_url">Website</a> 
            </p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3543.9659762890615!2d-82.54868127991017!3d27.345532169288987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sPublix!5e0!3m2!1sen!2sus!4v1678314726180!5m2!1sen!2sus" width="250" height="250" style="border:10;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="wf_map"></iframe>
      </div>

    </div>

    <div class="fun">
      <h4 id = "fun_head">Amusements </h4>
      <div class = "lido">
        <div class = "lido_text">
            <h5 id="lido_head">Lido Beach </h5>
            <p id="lido_p"> 
              <br>400 Benjamin Franklin Dr, 
              <br>Sarasota, FL 34236
              <br>Phone Number: (941) 388 0400
              <br><a href="http://www.lidokey.net/beach.shtml">Website</a> 
            </p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14180.270026747388!2d-82.58598002696277!3d27.311075791822045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c36a8874021d41%3A0xca9b102777a21af8!2sLido%20Key%20Beach!5e0!3m2!1sen!2sus!4v1678316273051!5m2!1sen!2sus" width="250" height="250" style="border:10;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="lido_map"></iframe>
      </div>
      
      <div class = "er">
        <div class = "er_text">
            <h5 id="er_head">Mysterium Escape Rooms & VR </h5>
            <p id="er_p"> 
              <br>1900 Main St #104, 
              <br>Sarasota, FL 34236 
              <br>Phone Number: (941) 444 6766
              <br><a href="https://mysteriumescaperooms.com/">Website</a> 
            </p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56705.355418168736!2d-82.5824830152002!3d27.34181993771576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c341ac189b0c8d%3A0x5dc56c3fc7ca5026!2sMysterium%20Escape%20Rooms%20%26%20VR!5e0!3m2!1sen!2sus!4v1678316649994!5m2!1sen!2sus" width="250" height="250" style="border:10;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="er_map"></iframe>
      </div>

    <div class = "golf">
      <div class = "golf_text">
          <h5 id="golf_head">Smuggler's Cove Mini Golf </h5>
          <p id="golf_p"> 
            <br>3815 N Tamiami Trail, 
            <br>Sarasota, FL 34234
            <br>Phone Number: (941) 351 6620
            <br><a href="http://www.smugglersgolf.com/">Website</a> 
          </p>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d226820.79392390128!2d-82.68797839206368!3d27.342126612861733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fe5e09e7391%3A0x9ee13222f03bbc3a!2sSmugglers%20Cove%20Adventure%20Golf!5e0!3m2!1sen!2sus!4v1678316820587!5m2!1sen!2sus"  width="250" height="250" style="border:10;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="golf_map"></iframe>
    </div>
  </div>
    
  </div>

  <div>
    <h4>Transportation</h3>
  </div>
    

    
    
  </body>