<link rel="stylesheet" href="/supplies.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">NuPath</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/messages">Messages</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbardrop" data-toggle="dropdown">
            Information
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="/residence_halls">Residence Halls</a></li>
            <li><a class="dropdown-item" href="https://www.ncf.edu/life-at-new/where-to-eat/">On-campus Dining</a></li>
            <li><a class="dropdown-item" href="/supplies">Supplies</a></li>
            <li><a class="dropdown-item" href="/events">Campus Events</a></li>
            <li><a class="dropdown-item" href="/sarasota">Sarasota</a></li>
            <li><a class = "dropdown-item" href="/scheduler">Scheduler</a></li>
          </ul>
  
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/leaderboard">Leaderboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>    
        </ul>
      </div>  
  </nav>

  <div id="userSupplyData" data-supplies="<%=supplies%>"></div>

  <h2 id="sup_Header">Supplies</h2>
  <body>
    <p id = "welcome">Welcome to NovoLand! We know it can be overwhelming to move on campus, so we've prepared a packing list to help assist new students in the process.</p>
    <div id="checkBoxAccordian" class = "accordian">

    </div>
    <div class = "accordian">
      <details>
        <summary>
          Room Essentials
        </summary>
        <div>
          <ul>
            <input type="checkbox" id="cb_tx"> Twin XL Sheets</input><br><input type="checkbox" id="ch_pl"> Pillows</input><br><input type="checkbox"> Blankets</input><br><input type="checkbox"> Lamps</input><br><input type="checkbox"> Waste Basket</input><br><input type="checkbox"> Clothes Hangers</input><br><input type="checkbox"> Clothing</input>
          </ul>
        </div>
      </details>
      <details>
        <summary>
          Bath Essentials and Toiletries
        </summary>
        <div>
          <ul>
            <input type="checkbox"> Shower Caddy</input><br><input type="checkbox"> Bath Towel</input><br><input type="checkbox"> Shower Supplies (soap, shampoo, conditioner, etc)</input><br><input type="checkbox"> Deoderant</input><br><input type="checkbox"> Toothbrush</input><br><input type="checkbox"> Toothpaste</input><br><input type="checkbox"> Shaving Supplies</input><br><input type="checkbox"> Tissues</input><br><input type="checkbox"> Toilet Paper</input>
          </ul>
        </div>
      </details>
      <details>
        <summary>
          Cleaning Supplies
        </summary>
        <div>
          <ul>
            <input type="checkbox"> Dish Soap</input><br><input type="checkbox"> Room Deoderizing Spray</input><br><input type="checkbox"> Laundry Supplies</input><br><input type="checkbox"> Hand Sanitizer</input><br><input type="checkbox"> Disinfectant Spray</input><br><input type="checkbox"> Multi-Purpose Cleaner</input><br><input type="checkbox"> Paper Towels or Rags</input>
          </ul>
        </div>
      </details>
      <details>
        <summary>
          Beach Supplies
        </summary>
        <div>
          <ul>
            <input type="checkbox"> Sunglasses</input><br><input type="checkbox"> Hat</input><br><input type="checkbox"> Beach Towel</input><br><input type="checkbox"> Sunscreen</input><br><input type="checkbox"> Water Bottle</input><br><input type="checkbox"> Swimsuit</input>
          </ul>
        </div>
      </details>
      <details>
        <summary>
          School Supplies
        </summary>
        <div>
            <ul>
              <input type="checkbox"> Personal Computer</input><br><input type="checkbox"> Printer</input><br><input type="checkbox"> Cat 5E or Cat 6 ethernet cable</input><br><input type="checkbox"> Printer Paper</input><br><input type="checkbox"> Flash Drive</input><br><input type="checkbox"> Notebooks</input><br><input type="checkbox"> Laptop Lock</input><br><input type="checkbox"> Poster Putty</input><br><input type="checkbox"> Stapler</input><br><input type="checkbox"> Pens and Pencils</input><br><input type="checkbox"> Power Strips</input><br><input type="checkbox"> Sturdy Backpack</input><br><input type="checkbox"> Planner / Calendar</input><br><input type="checkbox"> USB Charger</input><br><input type="checkbox"> Earbuds or Headphones</input>
            </ul>
        </div>
      </details>
      <details>
        <summary>
          Emmergency Supplies
        </summary>
        <div>
            <ul>
            <input type="checkbox"> Prescription Medication</input><br><input type="checkbox"> Over-the-Counter Medications</input><br><input type="checkbox"> Flashlight</input><br><input type="checkbox"> Batteries</input><br><input type="checkbox"> List of Emergency Contacts</input><br><input type="checkbox"> Health Insurance Card</input><br><input type="checkbox"> First-aid Kit with Band-aids</input>
            </ul>
        </div>
      </details>
      <details>
        <summary>
          Other Items (Optional)
        </summary>
        <div>
            <ul>
            <input type="checkbox"> Small Fan</input><br><input type="checkbox"> Umbrella</input><br><input type="checkbox"> Ear Plugs</input><br><input type="checkbox"> Sewing Kit</input><br><input type="checkbox"> Small Tool Kit</input><br><input type="checkbox"> Under-the-Bed Storage Bins</input><br><input type="checkbox"> Plate, Mug, Silverware</input><br><input type="checkbox"> Posters and Photos to Hang</input><br><input type="checkbox"> Poster Putty</input><br><input type="checkbox"> Camera</input><br><input type="checkbox"> Can Opener</input>
            </ul>
        </div>
      </details>
    </div>

    <div class = "complete">
      To view the complete packing list please visit  
      <a href="https://www.ncf.edu/wp-content/uploads/2022/01/Packing-List.pdf" id=packing_list>NovoLand Packing List</a>
    </div>

  <div class = "where_to_shop">
    <h2 class = "subheadLightBlue">Where to Shop</h2>

    <div class = "container-fluid">
      <div class="online">
        <h4 id = online_head>Online</h4>
        <a href = "https://www.amazon.com/hz/wishlist/ls/2OLBRG8AOO8ZO?ref_=wl_share">Amazon Wishlist</a>
      </div>

    

      <h4 id="in_town_head">Locations in Town</h4>
        <div class = "row">
          <div class = "col-sm-6">
              <h5 id="fvt_head">Target at Fruitville </h5>
              <p id="fvt_p"> 
                <br>5350 Fruitville Rd, 
                <br> Sarasota, FL 34232
                <br>Phone Number: (941) 379 6660
                <br><a href="target.com">Website</a> 
              </p>
          </div>
          <div class = "col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3544.2658458382207!2d-82.46477674947084!3d27.33615608286342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c3475ae9eaddd3%3A0x17650e9ccc0e1e8c!2sTarget!5e0!3m2!1sen!2sus!4v1678158815548!5m2!1sen!2sus"  width="250" height="250" style="border:10;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="fvt_map"></iframe>
          </div>
        </div>

        <div class = "row">
          <div class = "col-sm-6">
            <h5 id="utc_head">Target at UTC</h5>
            <p id="utc_p"> 
              <br>101 N Cattlemen Rd, 
              <br>Sarasota, FL 34243 
              <br>Phone Number: (941) 360 7520
              <br><a href="target.com">Website</a> 
            </p>
          </div>
          <div class = "col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.6456909134927!2d-82.46073968547394!3d27.386778582925785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c338e78aec7e41%3A0x1fef68904a826fdb!2sTarget!5e0!3m2!1sen!2sus!4v1678229436494!5m2!1sen!2sus"  width="250" height="250" style="border:10;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="utc_map"></iframe>
          </div>
        </div>

        <div class = "row">
          <div class = "col-sm-6">
            <h5 id="bbb_head">Bed Bath and Beyond</h5>
              <p id="bbb_p"> 
                <br>825 Cortez Rd W, 
                <br>Bradenton, FL 34207
                <br>Phone Number: (941) 751 0645
                <br><a href="bedbathandbeyond.com">Website</a> 
              </p>
          </div>
          <div class = "col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d453157.1208118194!2d-82.85074495724042!3d27.460229418473656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c3161a2e48274d%3A0xed96f32d0bf80453!2sBed%20Bath%20%26%20Beyond!5e0!3m2!1sen!2sus!4v1678230299668!5m2!1sen!2sus"  width="250" height="250" style="border:10;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="bbb_map"></iframe>
         </div>
        </div>

        <div class = "row">
          <div class = "col-sm-6">
            <h5 id="wal_head">Walmart Supercenter</h5>
              <p id="wal_p"> 
                <br>8320 Lockwood Ridge Rd, 
                <br>Sarasota, FL 34243
                <br>Phone Number: (941) 351 6969
                <br><a href="https://www.walmart.com/store/1171-sarasota-fl">Website</a> 
              </p>
          </div>
          <div class = "col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d453159.42541347235!2d-82.85212255745326!3d27.459668714694384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33f1cdce239cf%3A0xf7b3bb555f1f3a83!2sWalmart%20Supercenter!5e0!3m2!1sen!2sus!4v1678230735949!5m2!1sen!2sus"  width="250" height="250" style="border:10;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="wal_map"></iframe>
          </div>
        </div>
    </div>
  
  </div>
</body>

<script>
  function buildCheckBoxList(supplyData) {
    for (let g = 0; g < supplyData.length; g++) {
      const supplyDataGroup = supplyData[g].group_name;
      const supplyGroupCode = supplyData[g].group_code;
      let supplyGroupHtml = "";
      supplyGroupHtml = `
      <details id="group_${supplyGroupCode}">
        <summary>
          ${supplyDataGroup}
        </summary>
        <div>
          <ul>`;
      for (let s = 0; s < supplyData[g].supplies.length; s++) {
        const supplyName = supplyData[g].supplies[s].name;
        const supplyCode = supplyData[g].supplies[s].code;
        const supplyChecked = supplyData[g].supplies[s].checked;
        const supplyEntryID = supplyData[g].supplies[s].id;
        supplyGroupHtml += `<input type="checkbox" data-checkboxid="${supplyEntryID}" id="cb_${supplyCode}" ${supplyChecked ? 'checked' : ''}>${supplyName}</input>${s < supplyData[g].supplies.length - 1 ? '<br>' : ''}`;
      }
      supplyGroupHtml += `
          </ul>
        </div>
      </details>
      `;
      $("#checkBoxAccordian").append(supplyGroupHtml);
    }
  }
  function bindCheckBoxEvents(supplyData) {
    for (let g = 0; g < supplyData.length; g++) {
      const supplyGroupCode = supplyData[g].group_code;
      for (let s = 0; s < supplyData[g].supplies.length; s++) {
        const supplyCode = supplyData[g].supplies[s].code;
        $(`#cb_${supplyCode}`).on("change", () => {
          const supplyChecked = $(`#cb_${supplyCode}`).is(':checked');
          const supplyEntryID = $(`#cb_${supplyCode}`).data("checkboxid");
          //Debugging console logs Begin
          console.log(`cb_${supplyCode} changed`);
          console.log(supplyChecked);
          console.log(supplyEntryID);
          //Debugging console logs End
          //TODO Put the ajax call here
        });
      }
    }
  }
  var userSupplyData = [];
  $(document).ready(() => {
    userSupplyData = $("#userSupplyData").data("supplies");
    //Debugging console logs Begin
    console.log("userSupplyData");
    console.log(userSupplyData);
    //Debugging console logs End
    if (userSupplyData.length > 0) {
      buildCheckBoxList(userSupplyData);
      bindCheckBoxEvents(userSupplyData);
    }
   /* $("#ch_tx").on("change", ()=>{
      $.ajax({
      url: "/supplies/changeCheck",
      type: "GET",
      async: false,
      success: function(data) {
        console.log(data);
      },
      error: function(err) {
        Swal.fire('There was an issue changing the check of supply', '', 'error');
      }
    });
    })  */
  }); 

</script>
